<phpunit>
	<testsuites>
		<testsuite name="Find Me Beer">
			<file>TagTest.php</file>
			<file>UserTest.php</file>
			<file>BreweryTest.php</file>
			<file>BeerTest.php</file>
<!--			<file>FavoriteTest.php</file>-->
<!--			<file>BeerTagTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>